@font-face {
  src: url("../assets/fonts/Blen.ttf");
  font-family: blen;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2, h3, h4 {
  font-family: "poppins";
  font-weight: 700;
}

p {
  font-family: "poppins";
}

header {
  width: 100%;
  height: 22rem;
  background-image: url("../assets/svg/wave-background.svg");
  background-size: cover;
  background-position-y: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 37.5em) {
  header {
    height: 100vh;
  }
}
header .header-logo {
  width: 80%;
  position: relative;
}
@media only screen and (min-width: 37.5em) {
  header .header-logo {
    width: 40%;
  }
}

.rain-div {
  background-image: url("../assets/png/drop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.image-slider-border .images-slider {
  margin-top: 4rem;
  width: 37rem;
}

.everything-about {
  margin-top: 0;
}
@media only screen and (min-width: 37.5em) {
  .everything-about {
    position: relative;
    bottom: 15rem;
  }
}

.about {
  color: #fff;
  background-image: linear-gradient(#f06f60, #fde8e5);
}
.about div {
  height: 40rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (min-width: 56.25em) {
  .about div {
    height: 20rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .about div {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.about div img {
  width: 80%;
  border-radius: 5px;
}
@media only screen and (min-width: 56.25em) {
  .about div img {
    width: 30%;
  }
}
.about div span {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 56.25em) {
  .about div span {
    width: 40%;
  }
}
.about div span h2 {
  font-size: 56px;
}
.about div span h4,
.about div span h6 {
  font-size: 18px;
  font-weight: 300;
}
.about div span button {
  font-size: 20px;
  color: #fff;
  background-color: #56b947;
  padding: 0.8rem 3.5rem;
  border-radius: 25px;
  border: transparent;
  width: fit-content;
}
.about div span button a {
  text-decoration: none;
  color: #fff;
}

.band-student {
  position: relative;
  bottom: 15rem;
}
.band-student .band-student-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.band-student .band-student-container img {
  margin-top: 2rem;
  width: 60%;
}
.band-student .band-student-container h4 {
  font-size: 48px;
  text-align: center;
  font-family: "blen";
  color: #f06f60;
}
.band-student .band-student-container p {
  position: relative;
  top: 3rem;
  font-size: 16px;
  width: 40%;
  text-align: center;
}
.band-student .band-student-container p span img {
  width: 100px;
}

.sponsors {
  margin-bottom: 3rem;
}
.sponsors h4 {
  position: relative;
  bottom: 4rem;
  text-align: center;
  font-family: "blen";
  font-size: 26px;
  color: #f06f60;
  line-height: 55px;
}
@media only screen and (min-width: 37.5em) {
  .sponsors h4 {
    font-size: 42px;
  }
}
.sponsors .sponsors-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 2rem;
}
@media only screen and (min-width: 37.5em) {
  .sponsors .sponsors-flex-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.sponsors .sponsors-flex-container span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sponsors .sponsors-flex-container .main-sponsor {
  width: 100%;
  margin: auto auto;
}
.sponsors .sponsors-flex-container .main-sponsor div {
  width: 250px;
  height: 250px;
}
.sponsors .sponsors-flex-container div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: aquamarine;
  margin: 2rem;
}

footer .custom-shape-divider-bottom-1653580017 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
footer .custom-shape-divider-bottom-1653580017 svg {
  position: relative;
  display: block;
  width: calc(156% + 1.3px);
  height: 81px;
}
footer .custom-shape-divider-bottom-1653580017 .shape-fill {
  fill: #F06F60;
}
footer .footer-section {
  height: 225px;
  width: 100%;
  background-color: #f06f60;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
footer .footer-section p {
  font-size: 36px;
  font-family: "Work Sans";
  line-height: 35px;
}
footer .footer-section p a {
  text-decoration: none;
  color: #fff;
}
footer .footer-section p .footer-span-1 {
  border-bottom: 1px solid #fff;
  font-family: "Cinzel";
  font-weight: 400;
  line-height: 65px;
}

/*# sourceMappingURL=style.css.map */
