@import './variables-mixins/variables';
@import './variables-mixins/mixins';

@font-face {
    src: url("../assets/fonts/Blen.ttf");
    font-family: blen;
}

@font-face {
    src: url("../assets/fonts/Gotham/Gotham-Bold.otf");
    font-family: gothemBold;
  }

  @font-face {
    src: url("../assets/fonts/Gotham/Gotham-Medium.otf");
    font-family: gothem;
  }

  @font-face {
    src: url("../assets/fonts/Gotham/Gotham-ThinItalic.otf");
    font-family: gothemLight;
  }

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}

 h2, h3, h4{
    font-family: 'gothemBold';
    font-weight: 700;
}
p{
    font-family: 'gothem';
}

@import './components/header.scss';
@import './components/images';
@import './components/about';
@import './components/_band-student';
@import './components/sponsors';
@import './components/footer';

