@import './variables-mixins/variables';
@import './variables-mixins/mixins';

@font-face {
    src: url("../assets/fonts/Blen.ttf");
    font-family: blen;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}

 h2, h3, h4{
    font-family: 'poppins';
    font-weight: 700;
}
p{
    font-family: 'poppins';
}

@import './components/header.scss';
@import './components/images';
@import './components/about';
@import './components/_band-student';
@import './components/sponsors';
@import './components/footer';

