@import './variables-mixins/variables';
@import './variables-mixins/mixins';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './components/page.scss';
@import './components/sponsors';
@import './components/footer';

