.everything-about {
  // margin-bottom: 5rem;

  margin-top: 0;

  @include respond(tab-port) {
    position: relative;
    bottom: 15rem;
  }
}

.about {
  color: $white;
  background-image: linear-gradient($pink, #fde8e5);

  div {
    height: 50rem;

    // added
    // position: relative;
    // top: 3rem;

    // addedend

    @include respond(tab-port) {
      height: 20rem;
    }

    // margin: 0 0 0 0rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
      bottom: 1rem;
    }

    .about-image-text {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      position: relative;
      top: 1rem;

      img {
        width: 80%;
        border-radius: 5px;

        @include respond(tab-port) {
          width: 24rem;
          position: relative;
          bottom: 1rem;
        }
        @include respond(1001) {
          width: 27rem;
        }

        @include respond(medium-desk) {
          width: 32rem;
        }
      }
      p {
        margin-top: 1rem;
        font-family: gothemlight;
      }
      .about-buttons-mobile {
        width: 90%;
        height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @include respond(phone) {
          flex-direction: row;
        }

        @include respond(tab-port) {
          display: none;
        }

        a {
          margin-top: 1rem;
          // added
          font-size: 20px;
          font-family: gothemBold;
          color: $white;
          background-color: $light-green;
          padding: 0.6rem 5rem;
          border-radius: 25px;
          text-decoration: none;
          color: $white;
          transition: background-color 250ms ease-in;

          @include respond(phone) {
            padding: 0.6rem 3rem;
          }

          @include respond(tab-port) {
            display: none;
          }
        }
        .sponsor-button {
          padding: 0.6rem 4.26rem;

          @include respond(phone) {
            padding: 0.6rem 2.26rem;
          }
        }
      }
    }

    span {
      position: relative;
      bottom: 1.5rem;
      width: 85%;
      height: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include respond(tab-port) {
        width: 51%;
      }
      @include respond(1001) {
        width: 45%;
      }

      @include respond(medium-desk) {
        width: 35%;
      }

      h2 {
        font-size: 36px;
        @include respond(phone) {
          font-size: 46px;
        }
      }

      p {
        a {
          color: $white;
          display: inline;

          @include respond(direction) {
            display: block;
          }
        }
      }
      .about-contact-text {
        font-family: gothemlight;
      }

      .about-buttons {
        display: none;

        @include respond(tab-port) {
          width: 100%;
          margin-right: 7rem;
          margin-top: 1.3rem;
          display: flex;
          justify-content: space-evenly;
        }

        a {
          // added
          display: none;
          @include respond(tab-port) {
            display: inline;
            font-size: 20px;
            font-family: gothemBold;
            color: $white;

            background-color: $light-green;

            padding: 0.6rem 3rem;
            border-radius: 25px;

            text-decoration: none;
            color: $white;

            transition: background-color 250ms ease-in;
            &:hover {
              background-color: $white;
              color: $light-green;
            }
          }
          // end of added

          // font-size: 20px;
          // font-family: gothemBold;
          // color: $white;

          // background-color: $light-green;

          // padding: 0.6rem 3rem;
          // border-radius: 25px;

          // text-decoration: none;
          // color: $white;

          // transition: background-color 250ms ease-in;
          // &:hover {
          //   background-color: $white;
          //   color: $light-green;
          // }
        }

        .sponsor-button {
          padding: 0.6rem 2.26rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1001px) and (min-width: 901px) {
}
