.everything-about {
  // margin-bottom: 5rem;

  margin-top: 0;

  @include respond(tab-port) {
    position: relative;
    bottom: 15rem;
  }
}

.about {
  color: $white;
  background-image: linear-gradient($pink, #fde8e5);

  > div {
    height: 51rem;

    @include respond(tab-port) {
      height: 20rem;
    }

    // margin: 0 0 0 0rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
      bottom: 1rem;
      justify-content: space-evenly;
    }

    .about-image-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: nowrap;

      @include respond(tab-port) {
        // position: relative;
        // top: 1rem;

        justify-content: space-around;
      }

      img {
        width: 85%;
        border-radius: 5px;
        position: relative;
        bottom: 6px;

        @include respond(phone) {
          width: 80%;
        }

        @include respond(tab-port) {
          width: 24rem;
          position: relative;
          bottom: 1rem;
        }
        @include respond(1001) {
          width: 27rem;
          //   margin-top: 3rem;
          bottom: 2rem;
        }

        @include respond(medium-desk) {
          width: 32rem;
          margin-top: 1.8rem;
        }
      }
      p {
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        font-family: gothemlight;

        @include respond(300) {
          position: relative;
          top: 0.5rem;
        }

        @include respond(400) {
          font-size: 13px;
        }

        @include respond(tab-port) {
          //   margin-top: 0.5rem;
          margin-bottom: 1rem;
          margin-top: 0rem;
          position: relative;
          bottom: 1rem;
        }
      }
      .about-buttons-mobile {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        @include respond(phone) {
          flex-direction: row;
        }

        @include respond(tab-port) {
          display: none;
        }

        a {
          // added
          //  width: 50%;
          font-size: 20px;
          font-family: gothemBold;
          color: $white;

          background-color: $light-green;

          padding: 0.6rem 4rem;
          border-radius: 25px;

          text-decoration: none;
          color: $white;
          margin-top: 1rem;

          @include respond(phone) {
            padding: 0.6rem 3rem;
          }
        }
        .sponsor-button {
          padding: 0.6rem 3.25rem;

          @include respond(phone) {
            padding: 0.6rem 2.26rem;
          }
        }
      }
    }

    span {
      position: relative;
      bottom: 2rem;

      width: 85%;
      @include respond(400) {
        width: 90%;
      }
      height: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include respond(tab-port) {
        width: 51%;
        position: relative;
        bottom: 2.8rem;
      }
      @include respond(1001) {
        width: 45%;
      }

      @include respond(medium-desk) {
        width: 35%;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 36px;
        text-align: center;
        @include respond(300) {
          font-size: 30px;
        }
        @include respond(phone) {
          font-size: 46px;
        }
        @include respond(tab-port) {
          text-align: left;
        }
      }

      p {
        text-align: center;

        @include respond(tab-port) {
          text-align: left;
        }

        a {
          color: $white;
          display: inline;

          @include respond(direction) {
            display: block;
          }
        }
      }
      .about-contact-text {
        font-family: gothemlight;
        font-size: 14px;
      }

      .about-buttons {
        display: none;

        @include respond(tab-port) {
          width: 100%;
          margin-right: 7rem;
          margin-top: 1.2rem;
          display: flex;
          justify-content: space-evenly;
        }

        a {
          // added
          display: none;
          @include respond(tab-port) {
            display: inline;
            font-size: 20px;
            font-family: gothemBold;
            color: $white;

            background-color: $light-green;

            padding: 0.6rem 3rem;
            border-radius: 25px;

            text-decoration: none;
            color: $white;

            transition: background-color 250ms ease-in;
            &:hover {
              background-color: $white;
              color: $light-green;
            }
          }
        }

        .sponsor-button {
          padding: 0.6rem 2.26rem;
        }
      }
    }
  }
}
