.everything-about {
  // margin-bottom: 5rem;

  margin-top: 0;

  @include respond(phone) {
    position: relative;
    bottom: 15rem;
  }
}

// .everything-about{
//    position: relative;
//    bottom: 10rem;
// }

// .about-top {
//   margin-top: 10rem;
// }

.about {
  color: $white;
  // margin-bottom: 10rem;
  background-image: linear-gradient($pink, #fde8e5);
  div {
    height: 40rem;

    @include respond(tab-port) {
      height: 20rem;
    }

    // margin: 0 0 0 0rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    img {
      width: 80%;
      border-radius: 5px;

      @include respond(tab-port) {
        width: 30rem;
      }
    }
    span {
      // height: fit-content;
      width: 80%;
      height: 21rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include respond(tab-port) {
        width: 40%;
      }

      h2 {
        font-size: 56px;
      }

      h4 {
        font-size: 18px;
        font-family: gothemLight;
        margin-top: 1rem;
      }
      p {
        margin-bottom: 3.5rem;
      }

      button {
        font-size: 20px;
        color: $white;
        background-color: $light-green;
        padding: 0.8rem 3.5rem;
        border-radius: 25px;
        border: transparent;
        width: fit-content;
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}
