.band-student{


    // background-image: url('../assets/png/drop.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position-y: 65%;
    // background-attachment: fixed;

    // background-color: green;
    position: relative;
    bottom: 15rem;
    .band-student-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin-top: 2rem;
            width: 60%;
        }


        h4{
            font-size: 48px;
            text-align: center;
            font-family: 'blen';
            color: $pink;
        }
        p{
            // margin-top: 5rem;
            position: relative;
            top: 3rem;
        }
    }
   
    
}