.band-student {
  // background-image: url('../assets/png/drop.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position-y: 65%;
  // background-attachment: fixed;

  // background-color: green;

  position: relative;
  bottom: 15rem;
  .band-student-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 60%;
    }

    h4 {
      font-size: 64px;
      text-align: center;
      font-family: 'blen';
      color: $pink;
      position: relative;
      top: 2rem;
    }

    .at-Nina-June {
      display: flex;
      justify-content: center;
      
      width: 60%;
      // margin-left: 6rem; was this for at img resturant
      margin-top: 2rem;
      
      a{
        display: flex;
        justify-content: center;
      }

      h6 {
        font-family: 'blen';
        font-size: 30px;
        color: $pink;
        align-self: flex-end;
        position: relative;
        top: 0.7rem;
        margin-left: 0.85rem;
      }
      
        
        img {
          // orginally 50 for at img resturant
          width: 50%;
        }
      
    }
    p {
      font-size: 15px;
      margin-top: 2rem;
      width: 58%;
    }
  }
}
