.band-student {
  // background-image: url('../assets/png/drop.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position-y: 65%;
  // background-attachment: fixed;

  // background-color: green;

  @include respond(tab-port) {
    position: relative;
    bottom: 15rem;
  }

  

  .band-student-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 80%;
      margin-top: 1rem;
      @include respond(tab-port) {
        width: 60%;
        margin-top: 0rem;
      }

      @include respond(phone) {
        
        margin-top: 0;
      }

    }

    h4 {
      font-size: 40px;

      @include respond(phone) {
        font-size: 64px;
      }

      text-align: center;
      font-family: 'blen';
      color: $pink;
      position: relative;
      top: 2rem;
    }

    .at-Nina-June {
      

      width: 100%;
      @include respond(tab-port) {
        width: 60%;
       
      }
      // margin-left: 6rem; was this for at img resturant
      margin-top: 3rem;

      a {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
      }

      h6 {
        font-family: 'blen';
        font-size: 30px;
        color: $pink;
        align-self: flex-end;
        position: relative;
        top: 0.7rem;
        margin-left: 0.85rem;
      }

      img {
        // orginally 50 for at img resturant
        width: 70%;
        @include respond(tab-port) {
          width: 50%;
        }
      }
    }
    p {
      font-size: 15px;
      margin-top: 2rem;
      width: 57%;
      width: 90%;
      text-align: center;
      @include respond(tab-port){
        width: 57%;
        text-align: left;
      }
    }
  }
}
