header {
  width: 100%;
  // height: 100vh;
  height: 22rem;

  @include respond(phone) {
    height: 100vh;
  }

  // background: linear-gradient(to top, $white 50%, $pink 50%);
  // background-image: url("../assets/png/wave.png");
  background-image: url('../assets/svg/wave-background.svg');
  background-size: cover;
  background-position-y: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header-logo {
    width: 80%;
    position: relative;
    @include respond(phone) {
      width: 40%;
    }
  }
}

.rain-div {
  background-image: url('../assets/png/dropsNew.png');
  background-repeat: no-repeat;

  background-size: contain;
  background-position: 50% 27%;

  transition: background-position 3s ease-in;

}

.rain-div-animation {
  // background-color: rgb(255, 255, 255, 0);
  background-position: 50% 29%;
}

.background-rain-div {
  // background-image: url('../assets/png/drop.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 27%;
  background-color: rgb(255, 255, 255, 1);
  transition: background-color 3s ease-in;
}

.background-rain-div-after {
  background-color: rgb(255, 255, 255, 0);
}

.fallingBackGround{
  background-image: url('../assets/png/dropsNew.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 27%; 
  transition: background-position 3s ease-in;
}

.fallingBackGroundEnd{
  background-position: 50% 92%;
}
