
header{
  width: 100%;
  // height: 100vh;
  height: 33rem;
  background: linear-gradient(to top, $white 50%, $pink 50%);
  display: flex;
  justify-content: center;
  
  img{
    width: 40%;
    margin: auto auto;
  }
  
}