.sponsors {


//   background-image: url('../assets/png/drop.png');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position-y: 65%;
//   background-attachment: fixed;




  h4 {
    // margin-bottom: 50rem;
    // padding-bottom: 40rem;
    position: relative;
    bottom: 4rem;
    text-align: center;
    font-family: 'blen';
    font-size: 26px;
    color: $pink;
    line-height: 55px;

    @include respond(phone) {
      font-size: 42px;
    }
  }
  .sponsors-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 2rem;

    @include respond(phone) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    span {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .main-sponsor {
      width: 100%;
      margin: auto auto;
      div {
        width: 250px;
        height: 250px;
      }
    }

    div {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-color: aquamarine;
      margin: 2rem;
    }
  }
}
